html {
    overflow-x: hidden;
}

body {
    background: black;
}

#jumboVid {
    margin-top: -85px;
    position: relative;
    width: 100%;
    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    color: black;
    text-align: center;
    padding: 1rem;
}

.muteBtn {
    font-size: 2rem;
    text-align: center;
    width: 3rem;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    justify-self: baseline;
    margin-left: 2rem;
    margin-right: 2rem;
}

#portfolio {
    position: relative;
    color: aliceblue;
}

.portfolioContainer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.music {
    grid-column: 1 / span 1;
}

.art {
    grid-column: 2 / span 1;
}

.art > img {
    width: 100%;
}

.animation {
    grid-column: 3 / span 1;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
}