html {

}

body {
    background: black;
    overflow-x: hidden;
}

#jumboVid {
    position: relative;
    width: 100%;
    background-image: url('/home/tankcaster/code/beanboy/dist/media/images/beanBoyBg.png');
    mix-blend-mode: difference;
}

.vidContainer {
    margin-top: -85px;
    background-image: url('/media/images/beanBoyBg.png');
    background-size: 100%;
    mix-blend-mode: exclusion;
    z-index: -1;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.links {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
} 

.links > h2, .social > h2 {
    margin: 2rem;
    background: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    mix-blend-mode: exclusion;
}

.links > h2:hover {
    animation: spin 1s linear 5s;
}

.social {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 1rem;
    color: black;
    background-color: white;
    mix-blend-mode: difference;
}

.muteBtn {
    font-size: 2rem;
    text-align: center;
    width: 3rem;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    justify-self: baseline;
    margin-left: 2rem;
    margin-right: 2rem;
}

#portfolio {
    position: relative;
    color: aliceblue;
}

.portfolioContainer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.music {
    grid-column: 1 / span 1;
}

.art {
    grid-column: 2 / span 1;
}

.art > img {
    width: 100%;
}

.animation {
    grid-column: 3 / span 1;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
}

.animation > video {
    width: 100%;
}

@keyframes spin { 100% { transform:rotate3d(1, 0, 0, 360deg); } }